.wrapper {
  width: 75%;
  margin: 0 auto;
  background: #2c3f47;}

.ww {
  background: #2c3f47;
  padding-top: 4rem;
  width: 100%;
}

.links {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-bottom: 3rem;
  border-bottom: dotted 1px gray;
}

.section {
  display: flex;
  color: white;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 1rem;
}

.section h4 {
  color: white;
  margin-bottom: 20px;
}

#orders {
  cursor: pointer;
}